# This workflow will use tox to run the unit tests on every push and pull_request event

name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox==3.20.0 tox-gh-actions==1.3.0 wheel==0.35.1
    - name: Run the tests with tox
      run: |
        make test
        python setup.py sdist bdist_wheel install
